/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", sans-serif;
  line-height: 1.6;
}

/* Navbar Styles */
.navbar-container {
  width: 100%;
  height: 5rem;
  background: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1250px;
}

.nav-link__container {
  display: flex;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: yellow;
}

/* Hamburger Icon */
.icon {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Jumbotron Section */
.jumbotron {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

.jumbotron-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
  margin: 0 100px;
  max-width: 1550px;
}

.jumbotron-content__intro {
  flex: 1;
  padding-right: 5rem;
}

.jumbotron-content__intro h1 {
  font-size: clamp(1.5rem, 5vw, 4.5rem);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 5rem;
  margin-bottom: clamp(0.5rem, 5vw, 1.5rem);
}

.jumbotron-content__intro p {
  font-weight: light;
  font-size: clamp(0.5rem, 5vw, 1rem);
}

.jumbotron-content__image {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-content__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  display: block;
}

/* Booking Section */
.booking-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: antiquewhite;
}

.booking-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 0 100px;
  width: 100%;
  max-width: 1550px;
}

.booking-section__left,
.booking-section__right {
  flex: 1;
}

.booking-section__left h1,
.booking-section__right h1 {
  font-size: 2.5rem;
  border-bottom: #1a1a1a solid 2px;
  margin-bottom: 2rem;
}

.booking-section__left p {
  font-size: 1.5rem;
}

.booking-section__right {
  text-align: right;
}

.booking-section__right ul li {
  list-style: none;
}

.booking-section__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-section__image img {
  width: 100%;
  max-width: 675px;
  height: auto;
  z-index: 10;
}

/* Business Hours */
.business-hours {
  border-bottom: 2px solid black;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.business-hours__days {
  text-align: start;
}

.business-hours__times {
  text-align: end;
  font-weight: bold;
}

.business-hours li {
  font-size: 1.5rem;
}

/* Services Section */
.services-section {
  height: 30vh;
}

@media screen and (max-width: 768px) {
  .nav-link__container {
    display: none;
  }
  .icon {
    display: block;
  }
  .jumbotron-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .jumbotron-content__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    text-align: center;
    margin: 2rem;
    position: relative;
    z-index: 1;
  }

  .jumbotron-content__image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .jumbotron-content__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  }

  .booking-section__container {
    flex-direction: column;
  }

  .booking-section__right {
    text-align: left;
  }

  .business-hours {
    flex-direction: column;
  }
}
